body{
    background-color: rgb(167, 220, 223);
    margin: 0;
}
.blog-heading{
    height: 450px;
    background-image: url('https://signatureiow.marketing/wp-content/uploads/2018/05/Oli-Blog-2.jpg');
    background-size: 90vw 450px;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}
.blog-heading::after{
    content: '';
    position: absolute;
    top: 0;
    left: calc(5vw - 7px);
    width: 90vw;
    height: 100%;
    background-color: rgba(0 ,0 ,0 ,0.3);
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(193, 166, 115, 0.9);
    width: 350px;
    position: absolute;
    left: calc(5vw - 7px);
    top: 15vh;
    z-index: 2;
}
.title h2{
    margin-bottom: 0;
    padding: 16px 0;
}
.posts{
    display: flex;
    flex-direction: column;
    width: 90vw;
    position: absolute;
    left: calc(5vw - 7px);
}
img{
    height: 65%;
}
.post{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
.text-content{
    padding: 20px 5px 0 10px;
    background-color: rgb(243, 129, 73);
    width: 100%;
    font-size: 20px;
}
#second{
    background-color: rgb(0, 170, 172);
}
#third{
    background-color: rgb(251, 210, 81);
}
